/*Resetando formatação padrão do browser*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
/*Formatando body*/
body{
  background-color: #1e1e1e;
  color:  #FFF;
}
/*Formatando classe App*/
.App {
  text-align: center;
  
}
/*Formatando cabeçalho*/
header{
  display: flex;
  height: 100px;
  width: 100%;
  color: #FFF;
  font-size:  2em;
  background-color: #145A32;
  text-align: center;
  justify-content: center;

}
/*Formatando headline do cabeçalho*/
header h1{
  margin: auto 0px;
}
/*Formatando ícone do cabeaçalho*/
header h1 .icon{
  bottom: 15px;
}
/*Formatando input*/
.App input{
  margin:  8px 0px;
  color: #FFF;
  background-color: rgba(255, 255, 255, 0.05);
  padding: 0.2em;
  border: none;
  border-bottom: 2px  rgba(255, 255, 255, 0.2);
  border-radius: 8px 8px 0px 0px;
  font-size: 3.5rem;
  font-weight: bold;
  width: 100%;
  outline: none;
  transition: background-color ease-in 0.5s;
}
/*Formatando input quando estiver em foco*/
.App input:focus{
   background-color: rgba(255, 255, 255, 0.05);
}
/*Formatando mensagem inicial e mensagem de carregamento da aplicação*/
.warning-search, .loading{
  font-weight: bold;
  margin-top: 15px;
  font-size: 4em;
}

/*Formatando listagem dos animes*/
.animes-list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  list-style: none;
  grid-gap: 1.5rem;
  font-size: 1.5em;
}
/*Formatando pôsteres dos animes listados*/
.animes-list img{
  max-width: 100%;
}

/*Media Query para Medium Devices*/
@media only screen and (max-width: 991px) {
  /*Formatando cabeçalho*/
  header{
    font-size: 1.6em;
  }
  /*Formatando ícone do cabaeçalho*/
  header h1 .icon{
    display: none;
  }
  /*Formatando input*/
  .App input{
      font-size: 3em;
  }
  /*Formatando mensagem inicial da aplicação*/
  .warning-search, .loading{
    margin-top: 10px;
    font-size: 3.5em;
  }
  /*Formatando listagem dos animes*/
  .animes-list{
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    font-size: 1.2em;
  }
}

/* Media Query para Small Devices */
@media only screen and (max-width: 767px) {
  /*Formatando cabeçalho*/
  header{
    font-size: 1.2em;
  }
  /*Formatando input*/
.App input{
    font-size: 2em;
  }
  /*Formatando mensagem inicial da aplicação*/
  .warning-search, .loading{
    margin-top: 8px;
    font-size: 2.5em;
  }
  /*Formatando listagem dos animes*/
  .animes-list{
    grid-gap: 0.8rem;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    font-size: 1em;
  }
}

/* Media Query para Extra Small Devices */
@media only screen and (max-width: 600px) {
  /*Formatando cabeçalho*/
  header{
    font-size: 1em;
  }
  /*Formatando input*/
.App input{
    font-size: 1.5em;
  }
  /*Formatando mensagem inicial da aplicação*/
  .warning-search, .loading{
    margin-top: 5px;
    font-size: 2em;
  }
  /*Formatando listagem dos animes*/
  .animes-list{
    grid-gap: 0.5rem;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    font-size: 0.8em;
  }
}





