*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body{
  background-color: #1e1e1e;
  color:  #FFF;
}
.App {
  text-align: center;
  
}
header{
  display: flex;
  height: 100px;
  width: 100%;
  color: #FFF;
  font-size:  2em;
  background-color: #145A32;
  text-align: center;
  justify-content: center;

}
header h1{
  margin: auto 0px;
}
header h1 .icon{
  bottom: 15px;
}

.App input{
  margin:  8px 0px;
  color: #FFF;
  background-color: rgba(255, 255, 255, 0.05);
  padding: 0.2em;
  border: none;
  border-bottom: 2px  rgba(255, 255, 255, 0.2);
  border-radius: 8px 8px 0px 0px;
  font-size: 3.5rem;
  font-weight: bold;
  width: 100%;
  outline: none;
  transition: background-color ease-in 0.5s;
}
.App input:focus{
   background-color: rgba(255, 255, 255, 0.05);
}
.warning-search{
  margin-top: 15px;
  font-size: 3em;
}
.loading{
  font-size: 2em;
}
.animes-list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  list-style: none;
  grid-gap: 1.5rem;
}
.animes-list img{
  max-width: 100%;
}


